body{
    background-color: white; /* sets the given color  of the body background*/
    /* color:whitesmoke;   sets the given color  of the text */
    margin:0px 0px 0px 0px; /*sets the margin of html body part*/
}

header{
    /* text-align:center; */
    font-family: 'Anton', sans-serif;
    font-size:40px;
    color: #DD2C00;    
    padding: 0px;
}

header > a{
    text-decoration: none;
    color:#DD2C00;
}

nav{
    background-color:#e65100;
    font-family: 'Anton', sans-serif;
    padding:15px;    
    position:sticky;
    top:0;
}

nav ul{

    display:flex;
    justify-content: space-evenly;
    margin: 0px;
}

nav ul li{
    list-style:none;
}

nav ul li a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 20px;
}

nav ul li a:hover{

    color:#010364;     
    letter-spacing: 2px;   
} 

.tittle{
    text-align: center;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    color:#010364;
}

.contents{
    margin-bottom:10px;
}

.contents> .title{
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    color:black;

}

.contents> .texts{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
}

.contents1{
    margin-bottom:10px;
}

.contents1> .title{
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    color:black;

}

.contents1> .texts{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
}


.contents1> .texts > ul >li{
    line-height:1.8;

} 
.contents3{
    margin-bottom:10px;
}

.contents3> .title{
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    color:black;

}

.contents3> .texts{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
}

.contents3> .texts > ul >li{
    line-height:1.8;

} 



input[type=text]{
    width: 20%; 
    padding: 12px 20px;
    margin: 8px;
    border: 3px solid #ccc; 
    transition: 0.5s;
    
}

input[type=email]{
    width: 20%; 
    padding: 12px 20px;
    margin: 8px;
    border: 3px solid #ccc; 
    transition: 0.5s;
}

input[type=email]:focus {
    border: 3px solid #555;
    background-color:wheat;
}



input[type=text]:focus {
    border: 3px solid #555;
    background-color: wheat;
}

select {
    width: 30%;
    padding: 16px 20px;
    border: 3px solid #ccc; 
    border-radius: 4px;    
  }




footer{
    background-color: #546E7A;    
    font-family: 'Poppins', sans-serif;   
    height:40%;
    margin-bottom: 0px;
}

.footer-title{
    font-size:40px;
    padding:10px 0px 0px 50px;
    color:White;
}

.company-info{
    display:flex;    
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    padding:10px 0px 0px 10px;
}

.first{
    display:flex;
    flex-direction: column;
}

.company-info > .first > a{
    text-decoration: none;
    color:white;
}

.company-info >.first> a:hover{
    text-decoration: underline;
    color:antiquewhite;
}

.second{
    display:flex;
    flex-direction: column;
}

.company-info > .second > a{
    text-decoration: none;
    color:white;
}

.company-info >.second> a:hover{
    text-decoration: underline;
    color:antiquewhite;
}

.Third{
    display:flex;
    flex-direction: column;
}

.company-info > .Third > a{
    text-decoration: none;
    color:white;
}

.company-info >.Third> a:hover{
    text-decoration: underline;
    color:antiquewhite;
}

.last{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 0px 0px 10px;
}

.last > a{
    text-decoration: none;
    color:white;
}

.last> a:hover{
    text-decoration: underline;
    color:antiquewhite;
}


@media screen and (max-width:450px){
input[type=text], input[type=email], select {width: 80%;}
input[type=submit]{width:100%;}
body{margin:0px 5px 0px 5px; padding:0px;}
header{text-align:center;} 
nav{position: initial;}
nav ul{ flex-direction: column; width:100%; height:auto; text-align:center; margin:0px; padding:0px;}
footer{height:auto; width:100%; margin-right:0px;}
.footer-title{text-align: left;}
.company-info{flex-direction: column;}
.tittle{margin-bottom:17px;}
}